[Desktop Entry]
Comment=Ciemny motyw globalny: morze w tle, bursztyn jako akcent. Ikony zostają Breeze (breeze-dark).
Encoding=UTF-8
Name=Bursztyn bałtycki
Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Author=jrx-code
X-KDE-PluginInfo-Email=jrx-code@users.noreply.github.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC-BY-SA-4.0
X-KDE-PluginInfo-Name=pl.palety.bursztyn-baltycki
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/jrx-code/polish-palettes
X-Plasma-MainScript=defaults

[Wallpaper]
defaultWallpaperTheme=BursztynBaltycki
defaultFileSuffix=.png
defaultWidth=3840
defaultHeight=2160
